{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Protein{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="id">ID</label>
    <input name="id" id="id" value="{{ request.form['id'] }}" required>
    <label for="img_url">Image URL</label>
    <input name="img_url" id="img_url" value="{{ request.form['img_url'] }}" required>
    <label for="info">Info</label>
    <textarea name="info" id="info">{{ request.form['info'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}